@charset "utf-8";

body {
	background-color: #3d3d5c;
	background-size: contain;
    	margin: 2em 5%;
	font-family: verdana, "geneva", sans serif;
	text-align: center;
	font-family: 'Poppins', sans-serif;
}
.body2 {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.75);
  margin: 5% 10%;
  font-family: Sans-serif;
  padding: 2em;
}
.img {
  	align: center;
.navbar {
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 999;
	list-style: none;
	position: fixed;
	background-color: #653614;
	text-align: center;
}
.navbar a {
	padding-top: 15px;
	text-align: center;
	font-family: 'Cinzel', serif;
	
}

.navbar li {
	list-style: none;
	display: inline-block;
	padding-right: 10px;
	
}
.navbar li a {
	margin:0 -4px 0 -2px;
	padding:0 30px; 
	font-weight:bold;
	border-left:2px solid #000;
	border-right:2px solid #000;
	text-decoration: none;
	color: #E9FB4B;
	position: relative;
}
.navbar a:link {color: #E9FB4B;}
.navbar a:visited {color: orange;}
.navbar a:hover{background-color: ffffff;}

h1 {
	text-align: center;
	border-bottom: 1px solid #57b1dc;
	margin-top: 0px;
	font-size: 50px;
	font-family: 'Noto Serif', serif;
}
h2 {
	text-align: center;
	color: #d1633c;
	font-size: 1.5em;
}
h2 {
	text-align: center;
	color: #d1633c;
	font-size: 1.5em;
}
h3 {
	text-align: center;
	font-family: 'Poppins', sans-serif;
}
