body {
  background-image: url("bluebackground.jpg");
  background-color: #000000;
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}
.header {
   text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.img {
  display: block;
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.body2 {
  background-color: blue;
  background-color: rgba(255, 255, 255, 0.75);
  margin: 5% 10%;
  font-family: Sans-serif;
  padding: 2em;
}
.section {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.sect1, .sect2, .sect3 {
  text-align: center;
  padding-right: 1.75em;
  margin-right: 1.75em;
  border-right: 1px solid blue;
}
.sect4 {
  text-align: center;
  padding-right: 1.75em;
  margin-right: 1.75em;
  border-style: none;
}
h1 {
  text-align: center;
  font-size: 50px;
  font-family: 'Noto Serif', serif;
  border-bottom: 1px solid #57b1dc;
}
h2 {
text-align: center;
color: #d1633c;
font-size: 2em;
}
h3 {
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 1.5em;
}
h4 {
  text-align: center;
  padding-top: 1em;
  color: #ffffff;
  font-size: 1em;
}
.img {
  width: 40px;
  height: 40px;
  margin-left: .5em;
  margin-right: .5em;
}
